.wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 1rem; */
  grid-gap: 1rem;
}
.wrapper > div {
  background: #eee;
  padding: 1rem;
}
.wrapper > div:nth-child(odd){
  background: #ddd;

}
